<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devil Dance Academy</title>
    <link rel="stylesheet" href="/static/contactStyle.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <div id="logo">
          <img src="/static/logo.jpg" alt="error404" />
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Sevices</a></li>
          <li><a href="/">Class Info</a></li>
          <li><a href="/">Contact us</a></li>
        </div>
      </ul>
    </nav>
    <h1>Contact Us</h1>
    <form action="/contact" method="post" class="myform">
      <input type="text" id="name" name="naam" placeholder="Enter your name" />
      <input
        type="phone"
        id="phone"
        name="phone"
        placeholder="Enter your phone number"
      />
      <input
        type="email"
        email="email"
        name="email"
        placeholder="Enter your Email"
      />
      <input
        type="text"
        id="address"
        name="address"
        placeholder="Enter your address"
      />
      <button class="btn">Submit</button>
    </form>
    <footer id="footer">
      Copyright @ 2021 DevilAcademy.com| All Rights Reserved
    </footer>
  </body>
</html>
