<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devil Dance Academy</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <div id="logo">
          <img src="/static/logo.jpg" alt="error404" />
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Sevices</a></li>
          <li><a href="/">Class Info</a></li>
          <li><a href="views/contact">Contact us</a></li>
        </div>
      </ul>
    </nav>
    <section id="introSection">
      <div class="large">Welcome to Split sole Dance Academy</div>
      <div class="small">Eat sleep Dance repeat</div>
    </section>
    <section id="sponsorsSection">
      <h2>Our Sponsors</h2>
      <img src="/static/sponsors1.png" alt="Sponsor Image" class="spimage" />
      <img src="/static/sponsors3.png" alt="Sponsor Image" class="spimage" />
      <img src="/static/sponsors2.png" alt="Sponsor Image" class="spimage" />
    </section>
    <footer id="footer">
      Copyright @ 2021 DevilAcademy.com| All Rights Reserved
    </footer>

    <div id="heading">Our Mission</div>
    <section id="missionSection">
      <div class="card">
        <h3>Dance Perfection</h3>
        <div class="card-box">
          <div class="card-img">
            <img src="/static/img1.png" alt="" />
          </div>
          <div class="card-content">
            <p>This is the best dance academy of the universe</p>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>Dance the way you like</h3>
        <div class="card-box">
          <div class="card-img">
            <img src="/static/img2.webp" alt="" />
          </div>
          <div class="card-content">
            <p>This is the best dance academy of the universe</p>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>Expert Teaching</h3>
        <div class="card-box">
          <div class="card-img">
            <img src="/static/img3.webp" alt="" />
          </div>
          <div class="card-content">
            <p>This is the best dance academy of the universe</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
